@import url('https://fonts.googleapis.com/css?family=Kanit');
.App {
  text-align: center;
  margin-top:3em;
}

body {
  background-color: rgb(121, 199, 235);
  font-family: 'Kanit', sans-serif;
}

.wrapper {
  
  font-size: 1.5em;
  margin-top: 3em;
}

.button-login {
  font-family: 'Kanit', sans-serif;
  font-size: 1em;
  color: white;
  height: 2em;
  background-color: rgb(8, 221, 150);
}

.button-logout {
  font-family: 'Kanit', sans-serif;
  font-size: 1em;
  height: 2em;
  color: white;
  background-color: rgb(250, 68, 92);
}

.profile {
  margin-top: 2em;
}

.img {
  border-radius: 50%;
}

.default {
  width: 250px;
  height: 250px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
}